{% extends 'snapvisite/base.html' %}

{% block content %}

<div class="d-flex p-4 justify-content-between flex-wrap">
    <!-- Week and month -->
    <h1 style="border: solid 2px black; border-radius: 10px; width: 400px; text-align: center"><strong>Year {{year}} / Week {{ week_number }}</strong></h1>
    <!-- Toolbar -->
    <div class="btn-group" role="group">
        <div class="dropdown">
            <button class="btn btn-lg btn-outline-dark dropdown-toggle" type="button" id="gotodate" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 10px">
                Search for date
            </button>
            <div class="dropdown-menu" aria-labelledby="gotodate">
                <form action="{% url 'account:timetable' 'gotodate' form.searched_date %}" method="post">
                    {% csrf_token %}
                    <label><strong>Input date(YYYY-M-D)</strong></label>
                    {{ form }}
                    <button class="btn btn-sm btn-outline-primary" type="submit">Go to date</button>
                </form>
                <div class="dropdown-divider"></div>
                <div style="text-align: center">For example: 2022-5-6</div>
            </div>
        </div>

        <a href="{% url 'account:timetable' 'previous' date %}">
        <button class="btn btn-lg btn-outline-dark" type="button" style="border-radius: 10px">Previous week</button>
        </a>


        <a href="{% url 'account:timetable' 'actual' date %}">
        <button class="btn btn-lg btn-outline-dark" type="button" style="border-radius: 10px">Actual week</button>
        </a>

        <a href="{% url 'account:timetable' 'next' date %}">
        <button class="btn btn-lg btn-outline-dark" type="button" style="border-radius: 10px">Next week</button>
        </a>
    </div>
</div>
<!-- Day of the week -->
<div class="flex-sm-row d-flex justify-content-around mx-3" style="border: solid 1px black; border-radius: 10px">
    {% for day, date in days_of_week.items %}
    <div class="flex-sm-column" style="width: 13%; text-align: center; font-size: 24px;"><strong>{{ day }}<br>{{ date }} </strong></div>
    {% endfor %}
</div>

<div class="flex-sm-row d-flex justify-content-around p-3">
    {% for _ in week_range %}
    <div class="btn-lg btn-group-vertical flex-sm-column" style="width: 13%;">
        {% for timeslot in timeslots %}
        <button type="button" class="btn btn-lg btn-outline-primary" style="border: solid 1px black;"
                title="Service name here." data-bs-toggle="popover" data-bs-content="Place for content."
                data-bs-trigger="hover">{{ timeslot }}</button>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock content %}