{% extends 'snapvisite/base.html' %}
{% load static %}

{% block content %}


<div class="container">
    <div class="row row-cols-4 g-2">
        {% for company in object_list %}
        <div class="col">
            <div class="card w-100" style="text-align: center; margin-top: 10px; max-width: 320px">
                {% if company.photo %}
                <a href="{% url 'snapvisite:your_company' company.pk %}"><img src="{{ company.photo.url }}" class="card-img-top mx-auto" style="width: 90%; height:200px; margin-top: 10px;"></a>
                {% else %}
                <a href="{% url 'snapvisite:your_company' company.pk %}"><img src="{% static 'snapvisite/images/default_company_photo.png' %}" class="card-img-top mx-auto" style="width: 90%; height:200px; margin-top: 10px;"></a>
                {% endif %}
                <div class="card-body">
                    {{ company.company_name }}
                </div>
                <div class="card-footer">
                    <a href="{% url 'snapvisite:your_company' company.pk %}"><button type="button" class="btn btn-light btn-outline-dark btn-lg">Company details</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mx-auto text-center" style="padding-top: 15px;"><a href="{% url 'snapvisite:create_company_first_step' %}"><button type="button" class="btn btn-light btn-outline-success btn-lg">Open new company</button></a>
    </div>
</div>



{% endblock content %}