{% load static %}
<nav class="row navbar navbar-expand-sm bg-light fixed-top shadow-sm p-4 mb-4" style="font-family: 'Helvetica',sans-serif;">
<!-- CONTAINER WITH LOGO PART -->
    <div class="container-fluid me-auto">
<!-- LOGO IMAGE WITH REDIRECT FUNCTION -->
    <a class="navbar-brand col-sm-4" href="http://127.0.0.1:8000/snapvisite/home-page/">
        <img class="img-fluid" src="{% static 'snapvisite/images/logo_kolor.png' %}" alt="logo_icon">
    </a>
        <div class="float-sm-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
<!-- NAVBAR FIELD PART -->
        <div class="collapse navbar-collapse mt-auto" id="#mynavbar">
<!-- CATEGORIES PART -->
                <div class="btn-group" style="border: solid 1px black; border-radius: 10px 0 0 10px; background-color: white;">
                <button class="btn dropdown-toggle dropdown-toggle-split mx-3" type="button" style="transition-duration: 999999999s" data-bs-toggle="dropdown" aria-expanded="false"><strong>CATEGORIES </strong></button>
                <ul class="dropdown-menu">
                    {% for category in categories %}
                    <li><a class="dropdown-item" href="#"> {{ category.name }} </a> </li>
                    {% endfor %}
                </ul>
            </div>
<!-- SEARCHING FIELD PART -->
                <form class="d-flex col-sm-9" style="height: 40px">
                    <label style="border: solid 1px black;">
                        <input class="form-control me-2" style="width: 400px; border: none; transition-duration: 999999999s; " type="search" placeholder="Search for your service:">
                    </label>
<!-- SEARCH BUTTON PART -->
                    <button class="button" type="button" style="border: solid 1px black; border-radius: 0 10px 10px 0; width: 120px; background: white; color: black;">
                        <strong>Search</strong>
                    </button>
                </form>
<!-- ACCOUNT PART -->
        <div class="nav-item">
            <a class="nav-link" href="#accountcanvas" data-bs-toggle="#offcanvas" data-bs-target="#accountcanvas">
                <img class="img-fluid" src="{% static 'snapvisite/images/account_icon.png' %}" alt="account_icon">
            </a>
        </div>
        </div>
        </div>
</nav>