{% extends 'snapvisite/base.html' %}
{% load static %}
{% load custom_tags %}



{% block content %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg> Calendar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container-fluid text-center pt-3" style="font-family: 'Lato Light', serif;">
    <div class="row row-cols-7">
    {% for company_day in object_list %}
        <div class="col" style="max-width: 13%">
            <h3>{{  company_day.date|date:"d-m-Y" }}</h3>
            <h4>{{  company_day.date|date:"l" }}</h4>
            {% for timeslot in company_day.timeslot_set.all %}
            <div class="list-group">
                {% if timeslot.status %}
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                    {{ timeslot.start_time|time:"H:i" }}
                </a>
                {% else %}

                <button type="button" class="list-group-item list-group-item-action list-group-item-primary" data-bs-toggle="modal" data-bs-target="#modal{{ timeslot.appointment.id }}">
                    {{ timeslot.start_time|time:"H:i" }}
                </button>
                <div class="modal fade" id="modal{{ timeslot.appointment.id }}" tabindex="-1" aria-labelledby="descriptionLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="descriptionLabel" style="text-align: start">
                                    <strong>{{ timeslot.company_day.date|date:"l" }} - {{ timeslot.start_time|time:"H:i" }}</strong></h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>

                            <div class="modal-body" style="text-align: start">
                                <h4><strong>Service:</strong> {{ timeslot.appointment.service.name }}</h4>
                                <h4><strong>Client:</strong> {{ timeslot.appointment.user.first_name }} {{ timeslot.appointment.user.last_name }}</h4>
                                <h4><strong>Phone number:</strong> {{ timeslot.appointment.user.phone_number }}</h4>
                                <h4><strong>Additional information:</strong>
                                    <textarea disabled rows="5" style="font-size: 20px; width: 100%">{{ timeslot.appointment.note }}</textarea>
                                </h4>
                                {% if timeslot.appointment.payment_status %}
                                <h2 style="margin-top: 30px; border-top: solid 1px black; padding-top: 20px">Payment status: <span class="badge bg-success">Paid</span> </h2>
                                {% else %}
                                <h2 style="margin-top: 30px ;border-top: solid 1px black; padding-top: 20px">Payment status: <span class="badge bg-danger">Not paid</span></h2>
                                {% endif %}
                                <div class="text" style="border-top: solid 1px black; padding-top: 15px">Appointment code:<br> {{ timeslot.appointment.appointment_code }}</div>

                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
            {% endfor %}
            <br>
            <a href="{% url 'snapvisite:single_timeslot' company_day.id %}">
                <button type="button" class="btn btn-light btn-outline-success" style="width:100%">Create TimeSlot
            </button></a>
        </div>
    {% endfor %}
    </div>
</div>

<script>
$( document ).ready(function() {
    $(function(){
        $('.timepicker').timepicker({
            timeFormat: 'HH:mm ',
            interval: 30,
            minTime: '6am',
            maxTime: '23:30pm',
            startTime: '6:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    });
});

</script>


{% endblock content %}