{% extends 'snapvisite/base.html' %}


{% block content %}
<div class="container ms-auto mx-auto bg-light text-center" style="border: solid 1px black; font-family: 'Lato Light', serif; padding-bottom: 50px;">
    <div class="row">
        <div class="col-12 border-bottom border-end">
            <h3 class="display-4 text-center">{{ object.company_name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            
        </div>
        <div class="col-6">
            
        </div>
    </div>
</div>


{% endblock %}